.containernotfound {
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.notfoundtitle {
    font-size: 25vh;
}

.containernotfounddetail {
    display: flex;
    flex-direction: column;
}

.btnhome {
    margin: 0 auto;
    margin-top: 14px;
    border: 1px solid #dfe1e5;
    padding: 1.5rem;
    font-size: 14px;
}

.notfounddesc {
    font-size: 1.25vh;
}