* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #070707;
  color: #dfe1e5;
}

body {
  height: 100%;
  position: relative;
}

html {
  font-size: 70%;
  font-family: Source Code Pro;
  scroll-behavior: smooth;
}

li {
    list-style: none;
    float: left;
}

a {
    text-decoration: none;
}